.title {
    color: #532222;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-top: 2rem;   
}
.subtitle {
    color: #532222;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-top: 2rem;   
}
